<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>36265003127-tsqd9j56pf9a42dfipior1aseebav3kj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.36265003127-tsqd9j56pf9a42dfipior1aseebav3kj</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>36265003127-9p6n2ebq4hb1dflrm5nq5fnjpqacl67j.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA7KUXBMq9noMYiiPneAhoy4a01Ufh-mjM</string>
	<key>GCM_SENDER_ID</key>
	<string>36265003127</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.utilapp</string>
	<key>PROJECT_ID</key>
	<string>utilapp-be262</string>
	<key>STORAGE_BUCKET</key>
	<string>utilapp-be262.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:36265003127:ios:030c5088fd1711f29dde72</string>
</dict>
</plist>